.sosmed {
  display: inline-flex;
}

.sosmed .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 1rem;
  width: 15px;
  height: 15px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sosmed .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sosmed .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sosmed .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.sosmed .icon:hover span,
.sosmed .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.sosmed .facebook:hover,
.sosmed .facebook:hover .tooltip,
.sosmed .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.sosmed .twitter:hover,
.sosmed .twitter:hover .tooltip,
.sosmed .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.sosmed .instagram:hover,
.sosmed .instagram:hover .tooltip,
.sosmed .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.sosmed .whatsapp:hover,
.sosmed .whatsapp:hover .tooltip,
.sosmed .whatsapp:hover .tooltip::before {
  background-color: #5ed11c;
  color: #ffffff;
}

.sosmed .mail:hover,
.sosmed .mail:hover .tooltip,
.sosmed .mail:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.sosmed .linkedin:hover,
.sosmed .linkedin:hover .tooltip,
.sosmed .linkedin:hover .tooltip::before {
  background-color: #000;
  color: #ffffff;
}

